#  ___________           _     _____ _                 _____
# |___  /_   _|         (_)   |_   _| |               |  ___|
#    / /  | | _ ____   ___ ___  | | | |_ ___ _ __ ___ | |_ _ __ __ _ _ __ ___   ___  ___
#   / /   | || '_ \ \ / / / __| | | | __/ _ \ '_ ` _ \|  _| '__/ _` | '_ ` _ \ / _ \/ __|
# ./ /____| || | | \ V /| \__ \_| |_| ||  __/ | | | | | | | | | (_| | | | | | |  __/\__ \
# \_____/\___/_| |_|\_/ |_|___/\___/ \__\___|_| |_| |_\_| |_|  \__,_|_| |_| |_|\___||___/
#

  # Extra info
  # Invis glow_item_frame will have the same recipe as normal invis item_frame but with glow_item_frame

recipe:
  # Sets the middle item of the invisible item frame crafting recipe.
  # Not a good idea to edit this ItemStack in the yml. Just do `/ziif item` with the item in your hand.
  item:
    ==: org.bukkit.inventory.ItemStack
    v: 4189
    type: GLASS
  
  # How many invis item-frames will be created from the recipe.
  quantity: 8

# If you don't intend on restricting access to invis item frames, keep these false.
check-permission: 
  # Whether to check permissions when a player places an invis item frame.
  place: false
  # Whether to check permissions when a player crafts this recipe.
  craft: false
 # zinvisitemframes.craft.item_frame
 # zinvisitemframes.craft.glow_item_frame
 # zinvisitemframes.place.item_frame
 # zinvisitemframes.place.glow_item_frame

# Useful options to help people keep track of their invisible item frames.
empty-frame:
  # Whether an invisible item frame will have a glowing outline if it is empty (glowing outline is negated by invisibility).
  glow: true
  # Whether an invisible item frame will be visible if it is empty.
  visible: true

name: # Item names can be formatted with MiniMessage
  invisible_item_frame: "Invisible Item Frame"
  invisible_glow_item_frame: "Invisible Glow Item Frame"

# Messages are formatted with MiniMessage.
# (You probably will never need to edit these messages, but you can, in-case you want to translate them to another language.)
messages:
  help: |
    <yellow>=== <white>ZInvisItemFrames Commands <yellow>===
    <yellow>/ziif reload <white>- Reload the configuration
    <yellow>/ziif item <white>- Set the recipe item to the item in your hand
    <yellow>/ziif give <player> <amount> [--glow] <white>- Give invisible item frames
    <yellow>/ziif help <white>- Show this help message
    <yellow>=================================
  success:
    give: "<green>Given %player% %amount% <reset>%item_frame_type%<reset><green>(s)."
    reload: "<green>Reloaded config.yml"
    recipe-update: "<green>Recipe item updated!"
  error:
    no-access: "<red>You don't have permission to run this command."
    no-place: "<red>You don't have permission to place an <reset>%item_frame_type%<reset><red>."
    not-player: "<red>You must be a player to use this command."
    player-not-found: "<red>That player is not online."
    mainhand-empty: "<red>You must have an item in your main-hand."
    must-be-number: "<red>Value must be a number."
    usage-give: "<red>Usage: /ziif give <player> <amount> [--glow]"
